absl-py==0.10.0
altair==4.1.0
appdirs==1.4.4
argon2-cffi==20.1.0
astor==0.8.1
astroid==2.3.3
astunparse==1.6.3
async-generator==1.10
atpublic==2.1.2
attrs==20.2.0
autograd==1.3
backcall==0.2.0
base58==2.0.1
bleach==3.2.1
blinker==1.4
boto3==1.16.9
botocore==1.19.9
cachetools==4.1.1
category-encoders==2.2.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
chart-studio==1.1.0
click==7.1.2
colorama==0.4.3
commonmark==0.9.1
configobj==5.0.6
cryptography==3.3.1
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
defusedxml==0.6.0
dictdiffer==0.8.1
dill==0.3.3
distlib==0.3.1
distro==1.5.0
dpath==2.0.1
dulwich==0.20.15
dvc==1.11.9
entrypoints==0.3
enum-compat==0.0.3
feature-engine==0.6.1
filelock==3.0.12
flatten-dict==0.3.0
flufl.lock==3.2
ftfy==5.8
funcy==1.15
future==0.18.2
gast==0.3.3
gensim==4.0.1
gitdb==4.0.5
GitPython==3.1.11
google-api-core==1.24.1
google-api-python-client==1.12.8
google-auth==1.22.1
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
grandalf==0.6
grpcio==1.33.1
h5py==2.10.0
httplib2==0.18.1
idna==2.10
imageio==2.9.0
inflect==5.3.0
infomap==1.3.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonpath-ng==1.5.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras==2.4.3
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
langdetect==1.0.8
lazy-object-proxy==1.4.3
Lifetimes==0.11.3
llvmlite==0.35.0
mailchecker==4.0.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mccabe==0.6.1
mistune==0.8.4
mlxtend==0.17.3
nanotime==0.5.2
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
networkx==2.5
nltk==3.6.2
notebook==6.1.4
numba==0.52.0
numpy==1.20.1
oauth2client==4.1.3
oauthlib==3.1.0
opencv-python==4.4.0.44
opt-einsum==3.3.0
packaging==20.4
pandas==1.1.3
pandocfilters==1.4.3
parso==0.7.1
pathlib2==2.3.5
pathspec==0.8.1
pathtools==0.1.2
patsy==0.5.1
phonenumbers==8.12.15
pickleshare==0.7.5
Pillow==8.0.1
plotly==4.12.0
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.13.0
pyarrow==2.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydeck==0.5.0
pydot==1.4.1
PyDrive2==1.7.0
Pygments==2.7.2
pygtrie==2.3.2
pylint==2.4.4
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.17.3
python-benedict==0.22.4
python-dateutil==2.8.1
python-louvain==0.15
python-slugify==4.0.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
regex==2021.4.4
requests==2.24.0
requests-oauthlib==1.3.0
retrying==1.3.3
rich==9.6.1
rsa==4.6
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.4.1
seaborn==0.11.0
Send2Trash==1.5.0
shortuuid==1.0.1
shtab==1.3.4
six==1.15.0
sktime==0.5.3
smart-open==5.0.0
smmap==3.0.4
statsmodels==0.12.1
streamlit==0.70.0
tabulate==0.8.7
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
textblob==0.15.3
threadpoolctl==2.1.0
tifffile==2020.10.1
toml==0.10.2
toolz==0.11.1
tornado==6.0.4
tqdm==4.55.1
traitlets==5.0.5
typing-extensions==3.7.4.3
tzlocal==2.1
uritemplate==3.0.1
urllib3==1.25.11
validators==0.18.1
virtualenv==20.4.3
voluptuous==0.12.1
watchdog==0.10.3
wcwidth==0.2.5
webcolors==1.11.1
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wrapt==1.11.2
xgboost==1.2.1
xmltodict==0.12.0
yellowbrick==1.2
zc.lockfile==2.0
